<style>
  @font-face {
    font-family: 'lilyupcbold';
    src: url('../../../assets/fonts/upclb-webfont.woff2') format('woff2'),
         url('../../../assets/fonts/upclb-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

  .text-shadow-black{
    -webkit-text-stroke: 2px #000000;
  }
  .customGradient{
    background: rgb(18,7,42);
    background: linear-gradient(90deg, rgba(18,7,42,0) 0%, rgba(30,34,96,1) 10%, rgba(30,34,96,1) 50%, rgba(30,34,96,1) 90%, rgba(30,34,96,0) 100%);
  }
  .ptext{
    font-family: "Smooch Sans", serif;
    font-weight: 500;
  }
  .titletext{
    font-family: 'lilyupcbold';
    font-weight: 900;
    width: 300px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .consolestext{
    font-family: "Titillium Web", serif;
    font-weight: 600;
  }
  
</style>
<body class="w-screen h-screen bg-[#173452] bg-no-repeat bg-cover bg-center relative max-xs:overflow-auto max-mdl:overflow-auto" style="background-image: url('./../../../assets/images/Background2.png');">
  <!-- Barras -->
  <i class="bi bi-arrow-left-short absolute top-9 text-[#ffffff] text-[40px] left-3 cursor-pointer 3xl:text-[80px]" (click)="returnHome()"></i>
    <div class="bg-slate-400 w-[100%] absolute bottom-0 h-[30px] overflow-hidden max-xs:hidden"><img src="../../../assets/images/Border.png" class="h-[140px] w-[100%] rotate-180"></div>
    <div class="bg-slate-400 w-[100%] absolute top-0 h-[30px] overflow-hidden"><img src="../../../assets/images/Border.png" class="h-[140px] w-[100%]"></div>
    
    <!-- Contenido -->
    <div class="flex flex-col justify-center items-center h-[100%] pr-[10%] max-xs:h-[100%] max-xs:p-0 max-xs:pt-[75%]" >
      
      <div class="flex justify-center max-xs:flex-col max-xs:w-[100%] max-xs:items-center">
        <!-- Contenedor Modelo -->
        <div id="container" #container class="w-[710px] h-[660px] 3xl:w-[1000px] 3xl:h-[1050px] max-xs:w-[100%] max-xs:h-[500px] max-xs:mt-[40%">
        </div>

        <!-- Contenedor Info -->
        <div class="w-[28%] py-[2%] 3xl:py-[5%] max-xs:w-[100%] max-mdl:py-0">

          <!-- Título-->
          <div class=" border-b-[#2E4152] text-center border-b-[4px] border-solid border-[#1b2833] flex justify-center items-center gap-[2%] max-xs:px-4">
            <i class="bi bi-caret-left-fill text-[#32f052] text-[45px] cursor-pointer 3xl:text-[55px]" (click)="back()"></i>
            <h1 class="text-white titletext text-[47px] text-shadow-black 3xl:text-[53px]">{{this.trofeo?.nombre}}</h1>
            <i class="bi bi-caret-right-fill text-[#32f052] text-[40px] cursor-pointer 3xl:text-[55px]" (click)="next()"></i>
          </div>
          
          <!-- Descripción -->
          <p class="text-white text-[27px] px-[7%] pt-1 ptext 3xl:text-[37px] max-xs:pb-[5%] max-xs:px-4">
            {{this.trofeo?.descripcion}}
          </p>
          
          <!-- Juegos -->
          <div class="flex flex-col justify-center items-start text-left customGradient bg-opacity-70 gap-3 z-10 mt-4
           w-[100%] mb-[3%] 3xl:h-[110px] max-xs:w-[100%] max-xs:h-auto max-xs:items-left max-xs:py-3 max-xs:pl-6 ">
            <div class="flex gap-3 items-center">
              <div class="w-[70px] rounded-md bg-slate-400 flex justify-center items-center max-xs:h-[40px] max-xs:px-1  max-xs:items-center"><img
                  src="{{this.juego1?.consolaIMG}}" class="w-[100%]"></div>
              <h3 class="text-white text-[20px] consolestext 3xl:text-[30px] max-xs:text-[16px]">{{this.juego1?.nombre}}</h3>
            </div>
            @if (this.trofeo?.juego2) {
            <div class="flex gap-3 items-center">
              <div class="w-[70px] rounded-md bg-slate-400 flex justify-center items-center max-xs:h-[40px] max-xs:px-1"><img
                  src="{{this.juego2?.consolaIMG}}" class="w-[100%]"></div>
              <h3 class="text-white text-[20px] consolestext 3xl:text-[30px] max-xs:text-[16px]">{{this.juego2?.nombre}}</h3>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </body>
  
