    <div onmouseenter="playsoundeffect()"class="w-[100%] h-[100%] border-[2px] border-solid border-[#aec0b1] relative overflow-hidden hover:outline hover:outline-[7px] hover:outline-[#1BC20A] hover:outline-solid transition duration-300 hover:z-20">
        <div class="w-[90%] h-[30%] bg-black bg-opacity-60 absolute bottom-0 right-0 rounded-md flex justify-center items-center z-10">
            <h3 class="text-white font-bold text-center text-[22px] 3xl:text-[30px]">{{name}}</h3>
        </div>
        <img src="{{imagePath}}" class="z-0 w-[50%]">
    </div>